# Spring Boot (api) .gitignore
api/HELP.md
api/target/
!api/.mvn/wrapper/maven-wrapper.jar
!api/**/src/main/**/target/
!api/**/src/test/**/target/
api/**/src/main/resources/keys/*.json

### STS ###
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache

### IntelliJ IDEA ###
api/.idea
api/*.iws
api/*.iml
api/*.ipr

### NetBeans ###
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/
api/build/
!api/**/src/main/**/build/
!api/**/src/test/**/build/

### VS Code ###
api/.vscode/

### Docker ###
docker/**/*.env

# Next.js (app) .gitignore
# dependencies
app/node_modules
app/.pnp
app/.pnp.*
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/versions

# testing
app/coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
.DS_Store
*.pem

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
app/.env*

# vercel
app/.vercel

# typescript
app/*.tsbuildinfo
app/next-env.d.ts
